
.modern-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.modern-card:hover {
    transform: translateY(-5px);
}

.card-image {
    height: 200px;
   
    object-fit: contain;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 1rem;
}

.card-title h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.author-name {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #555;
}

.container.d-flex {
    margin-bottom: 0.5rem;
}

.container.d-flex h6 {
    margin: 0;
    font-size: 0.8rem;
    background-color: #f0f0f0;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    color: #333;
}



.badge {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(160, 118, 249);
}


.link-to-book {
    text-decoration: none;
    color: #007bff;
 
    transition: color 0.2s;
}

.link-to-book:hover {
    color: #0056b3;
   
}
.card {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    border: 5px solid #675D50; 
    box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
    transition: 0.5s;
    text-align: center;
    position: relative;
    height: 390px;
  }
  .card:hover {
    transform:scale(.98);
    background-color: rgba(255, 255, 255, 0.8);
    
    
  }
.card img{
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.card .bottom{
    display: flex;
    flex-direction: column;
}
.card .bottom .title{
    font-size: 14px;
    margin-bottom: 32px;
}
.card .bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
.card .bottom .author-section {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .card .bottom .author-section .label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  
  .card .bottom .author-section .author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .card .bottom .author-section .badge {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: normal;
  }
  .bottom{
    /* background-color: rgba(184, 179, 179, 0.1); */
  }
  
  