/* ModernCard.css */

/* ModernCard.css */

.modern-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #fff;
}

.modern-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 400px;
    /* Set the height for the image container */
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Rest of the CSS remains the same */

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.author-name {
    font-size: 16px;
    color: #555;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 16px;
    color: #555;
}

.container.d-flex {
    margin-top: 10px;
}

.container.d-flex h6 {
    margin-right: 5px;
    margin-bottom: 0;
}

.btn-sm {
    border-radius: 15px;
    font-size: 14px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Optional: Add hover effect to the entire card */
.modern-card:hover {
    transform: scale(1.05);
}