/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .sectionMain{
    margin: 20px;
  }

  .cardsWrapper {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  }
  
  .cardB {
    width: 300px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 10px;
  }
  
  .cardB img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .cardContent {
    padding: 16px;
  }
  
  .cardContent h3 {
    margin: 0;
    font-size: 18px;
    color: #333333;
  }
  
  .cardContent p {
    margin-top: 8px;
    font-size: 14px;
    color: #666666;
  }
  
  .cardContent a {
    display: block;
    margin-top: 16px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .cardContent a:hover {
    color: #0056b3;
  }
  
  .cardB:hover {
    transform: translateY(-5px);
  } */