/* Category.css */
.radio-item {
    display: inline-block;
    margin: 5px;
  }
  
  .rounded-button-group {
    border-radius: 20px; /* Rounded border for the button group */
    overflow: hidden; /* Hide the overflow to keep the buttons within the rounded border */
  }
  
  .custom-button {
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 15px; /* Rounded border for the individual buttons */
    transition: transform 0.2s, box-shadow 0.2s; /* Apply a smooth transition on hover */
  }
  
  .custom-button:hover {
    transform: scale(1.05); /* Slightly scale up the button on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle box-shadow on hover */
  }
  