.checkbox-list-frame {
    border: 2px solid #ccc;
    padding: 15px;
    border-radius: 8px;
  }
  
  .checkbox-item {
    margin-bottom: 10px;
  }
  
  /* Styling the checkbox itself */
  .form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .form-check-input:checked:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Styling the checkbox label */
  .form-check-label {
    margin-left: 5px;
    font-size: 18px;
    color: #333;
  }
  
  .form-check-label:hover {
    cursor: pointer;
  }