/* .home {
    min-height: 100vh;
    margin: 22px 0;
    padding: 20px;
    background-color: #ddd;
}

.button-group {
    margin-top: 20px;
}

.search-box {
    margin-top: 20px;
}

.category-list {
    margin-top: 20px;
}

.book-list {
    margin-top: 30px;
}

.book-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.book-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.book-item h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.book-item p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

.category-column {
    margin-top: 50px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.book-list {
    flex-grow: 1;
} */

/* --------------------------------------- */

/* .home {
    min-height: 100vh;
    margin: 22px 0;
    padding: 20px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .search-box {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px; 
  }
  
  .category-list {
    margin-top: 20px;
  }
  
  .book-item {
    padding: 10px;
    border: 1px solid rgb(178, 178, 178); 
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .book-item img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
  }
  
  .book-item h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .book-item p {
    margin: 0;
    font-size: 14px;
    color: rgb(60, 64, 72); 
  }
  
  .category-column {
    margin-top: 115px;
    position: sticky;
    top: 0;
    height: 50vh;
    background-color: rgb(234, 234, 234); 
    padding-top: 30px;
    border-radius: 50px;
  }
  
  .book-list {
    flex-grow: 1;
  }
   */

.home {
  min-height: 100vh;
  margin: 22px 0;
  padding: 20px;
}

.button-group {
  margin-top: 20px;
}

.search-box {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(178, 178, 178);
  border-radius: 4px;
  font-size: 16px;
  color: rgb(60, 64, 72);
  background-color: rgb(234, 234, 234);
}

.search-box .pi-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgb(60, 64, 72);
  cursor: pointer;
}

.category-list {
  margin-top: 20px;
}

.book-item {
  padding: 10px;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 4px;
  margin-bottom: 10px;
}

.book-item img {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}

.book-item h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.book-item p {
  margin: 0;
  font-size: 14px;
  color: rgb(60, 64, 72);
}

.category-column {
  margin-top:20px;
  position: sticky;
  top: 0;
  height: 50vh;
  background-color: rgb(234, 234, 234);
  padding-top: 30px;
  border-radius: 30px;
}

.book-list {
  flex-grow: 1;
}
