.header {
  margin-top: 30px;
  height: 50vh;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  /* mix-blend-mode: overlay; */
}

.carousel{
  width: 100%;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-content p {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  max-width: 50rem;
  vertical-align: top;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
 
  height: 40px;
  
  background-color: rgba(0, 0, 0, 0.5);
  
}


.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
 
} */