.carousel-container {
    border-radius: 25px;
    width: 1000px;
    height: 400px;
    margin: 0 auto; 
    padding: 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    
   
  }
  
  .carousel {
    border-radius: 250px;
    width: 600px; 
    height: 300px;
    position: absolute;
    margin: 0 auto; 
    
  }
  .carousel-inner {
    border-radius: 20px ;
    overflow: hidden;
    margin: 0 auto;

  }

  h5,p{
    color:white;
    font-weight: 600;
  }
  
  