.header {
  margin-top: 10px;
  height: 50vh;
  background-repeat: no-repeat;
  object-fit: cover;
  /* background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg"); */
  background-image: url("https://images.pexels.com/photos/256453/pexels-photo-256453.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  /* mix-blend-mode: overlay; */
}

.carousel {
  width: 100%;
}

.carousel-indicators {
  visibility: hidden;
}

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-content p {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  max-width: 50rem;
  vertical-align: top;
  background-color: rgb(60, 64, 72, 0.3);
}