.footer {
  background-color: rgb(51, 29, 44);
  padding: 30px 20px;
  color: rgb(239, 225, 209);
  font-size: small;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.h3 {
  display: inline-block;
  flex: 1 0 100%;
  text-align: center;
  margin: 0;
  color: rgb(239, 225, 209);
  font-size: large;
  margin-bottom: 20px;
}

/* Card Styles */
.card {
  background-color: rgb(63, 46, 62);
  margin: 10px;
  color: rgb(239, 225, 209);
  border: none;
  flex: 0 0 10rem;
  height: 8rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: rgb(167, 130, 149);
  border-bottom: none;
  color: rgb(51, 29, 44);
  font-weight: bold;
}

.card-title,
.card-text {
  color: rgb(239, 225, 209);
}

.card-body {
  padding: 20px;
}

/* Contact Information Styles */
.contact-info {
  text-align: center;
  color: rgb(239, 225, 209);
}

.contact-info h4 {
  margin-bottom: 10px;
  color: rgb(239, 225, 209);
  font-size: large;
}

.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.contact-link {
  color: rgb(239, 225, 209);
  text-decoration: none;
  margin: 5px 15px;
  font-size: medium;
}

.contact-link:hover {
  text-decoration: underline;
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
