card-body-custom {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-column {
  padding-right: 20px;
  position: sticky;
  background-color: rgba(0, 171, 179, 0.1);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #3C4048;
}

.card-quotes {
  width: 18rem;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  color: #EAEAEA;
  transition: transform 0.3s;
  border-radius: 15px;
}

.card-quotes:hover {
  box-shadow: 0 8px 16px rgb(171, 179, 179);
  transform: scale(1.1);
}

.quotes-body {
  color: #3C4048;
  padding: 1rem;
  background-color: #EAEAEA;
  border-radius: 15px;

}

.quote-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.quote-text {
  font-size: 1rem;
  color: #555;
}

.copy-btn {
  background-color: rgb(255, 87, 51);
  border-color: #3C4048 ;
}